.aboutPage {
    display: flex;
    justify-content: center;
    margin: 0rem auto;
   
  }

  #aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem .5rem 0 .5rem;
    overflow: hidden;
    background-color: #f5f5f5; 
    background-size: cover;
    background-position: center;
    
   
  }


  .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 60px;
    margin-left: 12%;
    flex-wrap: wrap;
  }

  .section2 {
    flex-direction: row-reverse;
    margin-bottom: 60px;
  }

  .section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 12%;

  }

  .aboutText {
    flex-basis: 40%;
   
  }
  
  
  .aboutHeading { 
    color: #1876D2;
    font-size: 35px;
  }
  
  
  .aboutImg {
    width: 15%;
    height: 15%;
    margin-right: 20%;
  }
  
  @media (max-width: 1440px) {}
  
  .aboutText {
    flex-basis: 40%;
  }
  
  @media (max-width: 1199px) {
    .aboutText {
      padding: 2rem;
    }
  
    .aboutHeading {
      font-size: 3rem;
    }
  
    .bodyContent {
      font-size: 1.5rem;
    }
  }
  
  
  @media (max-width: 1024px) {

    .section1, .section3{
      margin-left: 5%;
    }

    .aboutImg {
      width: 15%;

    }
  
    .aboutText {
      padding: 1rem;
    }
  
    .aboutHeading {
      font-size: 1.5rem;
    }
  
    .bodyContent {
      font-size: 1rem;
    }
  
  } 
  
  @media (max-width: 768px) {

    .section1, .section3{
      margin-left: 5%;
    }

    .aboutImg {
      width: 25%;

    }
  }
  
  @media (max-width: 559px) {
  
    .aboutPage {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: .5rem;
    }
  
  
    .aboutImg {
      width: 50%;
    } 
  
    .aboutText {
      width: 100%;
    }
  }
  
  
  
  @media (max-width: 479px) {}
  
  @media (max-width: 379px) {}